{{ $page := . }}
{{ $title := .Title }}
{{ $subtitle := "" }}
{{ $image := "" }}

{{ if reflect.IsMap . }}
  {{ $page = .Page }}
  {{ $title = .title | default .Page.Title }}
  {{ $subtitle = .subtitle | default "" }}
  {{ $image = .image | default "" }}
{{ end }}

<section class="page-banner{{ if $image }} page-banner--image{{ end }}">
    {{ if $image }}
    <div class="page-banner-image" style="background-image: url('{{ $image }}');"></div>
    {{ end }}
    <div class="page-banner-overlay">
        <div class="container">
            <h1>{{ $title }}</h1>
            {{ if $subtitle }}
            <p class="banner-subtitle">{{ $subtitle }}</p>
            {{ end }}
        </div>
    </div>
</section>
