{{ $specialtyParam := .Get "specialty" }}
{{ $subspecialties := slice }}

{{/* Buscar la especialidad en specialties.yaml y obtener sus subspecialties */}}
{{ range site.Data.specialties.specialties }}
  {{ $currentURL := .url }}
  {{ $specialtySlug := "" }}
  {{ if hasPrefix $currentURL "/especialidades/" }}
    {{ $specialtySlug = strings.TrimPrefix "/especialidades/" $currentURL }}
    {{ $specialtySlug = strings.TrimSuffix "/" $specialtySlug }}
  {{ end }}
  
  {{ if eq $specialtySlug $specialtyParam }}
    {{ $subspecialties = .subspecialties }}
  {{ end }}
{{ end }}

{{ if $subspecialties }}
<div class="specialty-icons-grid">
  {{ range $subspecialties }}
  <div class="specialty-icon-card">
    <img src="{{ .icon }}" alt="{{ .name }}" />
    <p>{{ .name }}</p>
  </div>
  {{ end }}
</div>
{{ end }}
